<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>REVERSED_CLIENT_ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.501143449550-32dgq9hbtsa5acl0v2ps7on20ir7a913</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>501143449550-32dgq9hbtsa5acl0v2ps7on20ir7a913.apps.googleusercontent.com</string>
</dict>
</plist>
